<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.HospitalMapper">
<sql id="hospitalBaseColumns">
   HOSPITAL_NUM, HOSPITAL_ID, HOSPITAL_PW, HOSPITAL_NAME, HOSPITAL_CODE
   , HOSPITAL_ADDR, HOSPITAL_ADDR_DETAIL, HOSPITAL_POST, HOSPITAL_EMAIL
   , HOSPITAL_PHONE, HOSPITAL_CONTENT, HOSPITAL_CATEGORY
   , HOSPITAL_NOTICE, HOSPITAL_DOCTOR
</sql>

<insert id="hospitalInsert" parameterType="hospital">
   insert into hospital(HOSPITAL_NUM, HOSPITAL_ID, HOSPITAL_PW, HOSPITAL_NAME, HOSPITAL_CODE
                  , HOSPITAL_ADDR, HOSPITAL_ADDR_DETAIL, HOSPITAL_POST, HOSPITAL_EMAIL
                  , HOSPITAL_PHONE, HOSPITAL_CONTENT, HOSPITAL_CATEGORY
                  , HOSPITAL_NOTICE, HOSPITAL_DOCTOR)
   values(#{hospitalNum}, #{hospitalId}, #{hospitalPw}, #{hospitalName}, #{hospitalCode}, #{hospitalAddr}, #{hospitalAddrDetail}
         , #{hospitalPost}, #{hospitalEmail}, #{hospitalPhone}, #{hospitalContent}, #{hospitalCategory}, 0, 0)

</insert>

<select id="hospitalSelectOne" resultType="hospital" parameterType="string">
   select <include refid="hospitalBaseColumns" />
   from hospital
   where HOSPITAL_NUM = #{hospitalNum}
</select>

<select id="selectHospitalNum" parameterType="string" resultType="string">
   select hospital_num
   from hospital
   where hospital_id = #{hospitalId}
</select>

<resultMap type="hospital" id="hospitalResultMap">
   <id column="HOSPITAL_NUM" jdbcType="VARCHAR" property="hospitalNum"/>
   <result column="HOSPITAL_ID" jdbcType="VARCHAR" property="hospitalId"/>
   <result column="HOSPITAL_PW" jdbcType="VARCHAR" property="hospitalPw"/>
   <result column="HOSPITAL_NAME" jdbcType="VARCHAR" property="hospitalName"/>
   <result column="HOSPITAL_CODE" jdbcType="VARCHAR" property="hospitalCode"/>
   <result column="HOSPITAL_ADDR" jdbcType="VARCHAR" property="hospitalAddr"/>
   <result column="HOSPITAL_ADDR_DETAIL" jdbcType="VARCHAR" property="hospitalAddrDetail"/>
   <result column="HOSPITAL_POST" jdbcType="BIGINT" property="hospitalPost"/>
   <result column="HOSPITAL_EMAIL" jdbcType="VARCHAR" property="hospitalEmail"/>
   <result column="HOSPITAL_PHONE" jdbcType="VARCHAR" property="hospitalPhone"/>
   <result column="HOSPITAL_CONTENT" jdbcType="VARCHAR" property="hospitalContent"/>
   <result column="HOSPITAL_CATEGORY" jdbcType="VARCHAR" property="hospitalCategory"/>
   <result column="HOSPITAL_NOTICE" jdbcType="VARCHAR" property="hospitalNotice"/>
   <result column="HOSPITAL_DOCTOR" jdbcType="VARCHAR" property="hospitalDoctor"/>
</resultMap>

<select id="hospitalSelectList" resultType="hospital" parameterType="startEndPageDTO">
   select *
   from(
   SELECT row_number() over (order by hospital_num) as rn
           , <include refid="hospitalBaseColumns"/>    
   from hospital
   <where>
       <if test="searchWord != null">
          hospital_name like '%' || #{searchWord} || '%'
         or hospital_category like '%' || #{searchWord} || '%'
       </if>
      </where> )                   
   where rn between #{startRow} and #{endRow}    
</select>

<select id="hospitalCount" resultType="integer">
   select count(*) from hospital
</select>

</mapper>