<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniProject.mapper.TreatMapper">
<sql id="treatBaseColumns">
	HOSPITAL_NUM, TREAT_DOCTOR, MONDAY_START, MONDAY_END
	, TUESDAY_START, TUESDAY_END, WEDNESDAY_START, WEDNESDAY_END
	, THURSDAY_START, THURSDAY_END, FRIDAY_START, FRIDAY_END
	, SATURDAY_START, SATURDAY_END, SUNDAY_START, SUNDAY_END
	, HOLIDAY_START, HOLIDAY_END
</sql>

<insert id="treatInsert" parameterType="treat">
	insert into treat(HOSPITAL_NUM, TREAT_DOCTOR, MONDAY_START, MONDAY_END
	, TUESDAY_START, TUESDAY_END, WEDNESDAY_START, WEDNESDAY_END
	, THURSDAY_START, THURSDAY_END, FRIDAY_START, FRIDAY_END
	, SATURDAY_START, SATURDAY_END, SUNDAY_START, SUNDAY_END
	, HOLIDAY_START, holiday_end)
	values(#{hospitalNum}, #{treatDoctor}, #{mondayStart}, #{mondayEnd}, #{tuesdayStart}, #{tuesdayEnd}
			, #{wednesdayStart}, #{wednesdayEnd}, #{thursdayStart}, #{thursdayEnd}, #{fridayStart}, #{fridayEnd}
			, #{saturdayStart}, #{saturdayEnd}, #{sundayStart}, #{sundayEnd}, #{holidayStart}, #{holidayEnd})
</insert>




</mapper>