<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지 > 비밀번호변경</title>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	<!-- JSON  -->
	$("#frm").submit(function(event){
		// 기본 폼 제출 방지
		event.preventDefault();
		var formData={
			"oldPw" : $("#oldPw").val(),
			"newPw" : $("input[name='newPw']").val()
		}
		$.ajax({
			type:'post',
			url:'myPwUpdate',
			contentType: 'application/json',
			data : JSON.stringify(formData),
			beforeSend : passwordChecked,
			success : resultOk,
            error:function(xhr, status, error){
            	console.error(xhr.responseText);
            }
		});
	});
});

/* 전송 받은 결과 */
function resultOk(result, status, xhr, $form ){
	if(status == 'success'){
		if(result){
			location.href="myPageDefalt";
		}else{
			$($form).css("background","red");
			$("#pwErr").text("현재 비밀번호가 틀렸습니다.");
			$("#oldPw").val("");
			$("#newPwCon").val("");
			$("input[name='newPw']").val("");
			$("#oldPw").focus();
		}
	}
}

/* 값을 전송하기 전 체크 */
function passwordChecked(){
	if($("#oldPw").val() == ""){
		$("#pwErr").text("현재 비밀번호를 입력해 주세요.");
		$("#pwErr").css("color","red");
		$("#oldPw").focus();
		return false;
	}
	if($("input[name='newPw']").val() == ""){
		$("#newPwErr").text("비밀번호확인이 틀립니다.");
		$("#newPwErr").css("color","red");
		$("input[name='newPw']").focus();
		return false;
	}else{
		if($("input[name='newPw']").val() != $("#newPwCon").val()){
			$("#pwConErr").text("비밀번호확인이 틀립니다.");
			$("#pwConErr").css("color","red");
			$("#newPw").focus();
			$("#newPwCon").val("");
			$("input[name='newPw']").val("");
			return false;
		}
	}
}
</script>



</head>
<body>

<h3 align="center">마이페이지 > 비밀번호변경</h3><br/>

<table width="600" border="1" align="center">
	<tr><th align="center">
			<a href="myPageReserve">예약내역</a> |
			<a href="myPageWish">즐겨찾기</a> |
			<a href="myPageDefalt">내 정보</a> |
			<a href="myPageNewPw">비밀번호변경</a> |
			<a href="myPageDrop">회원탈퇴</a>
		</th>
	</tr>
</table>

<br/>
<form id="frm">
<table width="600" align="center">
	<tr><td width="150" height="50">현재 비밀번호</td>
		<td><input type="password" name="oldPw" id="oldPw"/><br/>
			<span style="font-size:10px;" id="pwErr"></span></td></tr>
	<tr><td>변경 비밀번호</td>
		<td><input type="password" name="newPw"  />
			<p style="font-size:10px; color:gray;">영문자(a-z) 숫자(1...) 그리고 특수문자(@/*...)를 포함한 8~12글자</p>
			<span style="font-size:10px;" id="newPwErr"></span></td></tr>
	<tr><td>비밀번호 확인</td>
		<td><input type="password" name="newPwCon" id="newPwCon"/><br/>
			<p style="font-size:10px; color:gray;">변경할 비밀번호를 한번 더 입력하세요. 비밀번호는 잊지 않도록 주의하시길 바랍니다.</p>
			<span style="font-size:10px;" id="pwConErr"></span></td></tr>

	<tr><td colspan="2" align="center">
			<br/>
			<input type="submit" value="비밀번호 변경"/></td></tr>
</table>
</form>


</body>
</html>