<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지 > 비밀번호변경</title>
</head>
<body>

<h3 align="center">마이페이지 > 비밀번호변경</h3><br/>

<table width="600" border="1" align="center">
	<tr><th align="center">
			<a href="myPageReserve">예약내역</a> |
			<a href="myPageWish">즐겨찾기</a> |
			<a href="myPageModify">정보수정</a> |
			<a href="myPageNewPw">비밀번호변경</a> |
			<a href="myPageDrop">회원탈퇴</a>
		</th>
	</tr>
</table>

<br/>
<form action=""></form>
<table width="600" align="center">
	<tr><td width="150" height="50">현재 비밀번호</td>
		<td><input type="text"/></td></tr>
	<tr><td>변경 비밀번호</td>
		<td><input type="text"/><br/>
			<p style="font-size:10px; color:gray;">영문자(a-z) 숫자(1...) 그리고 특수문자(@/*...)를 포함한 8~12글자</p></td></tr>
	<tr><td>비밀번호 확인</td>
		<td><input type="text"/>
			<p style="font-size:10px; color:gray;">변경할 비밀번호를 한번 더 입력하세요. 비밀번호는 잊지 않도록 주의하시길 바랍니다.</p></td></tr>

</table>
</form>
</body>
</html>