<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지 > 회원탈퇴</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("#memberPw").val() == ""){
			$("#errPw").text("비밀번호를 입력해주세요.");
			$("#memberPw").focus();
			return false;
		}else{
			conf = confirm("정말 탈퇴하시겠습니까?");
			if(!conf){
				return false;
			}
		}
	});
});
</script>
</head>
<body>

<h3 align="center">마이페이지 > 회원탈퇴</h3><br/>

<table width="600" border="1" align="center">
	<tr><th align="center">
			<a href="myPageReserve">예약내역</a> |
			<a href="myPageWish">즐겨찾기</a> |
			<a href="myPageDefalt">내 정보</a> |
			<a href="myPageNewPw">비밀번호변경</a> |
			<a href="myPageDrop">회원탈퇴</a>
		</th>
	</tr>
</table>

<form action="myPageDropOk" method="post" name="frm" id="frm">

<table width="600" align="center">
	<tr><td>
			<p style="font-size:18px; font-weight:bold; color:black;">탈퇴 안내</p>
			<p style="font-size:13px; color:black;">회원탈퇴를 진행하기 전에 안내 사항을 꼭 확인해주세요.</p>
			<br/>
			<p style="font-size:13px; color:black;">회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</p>
			<p style="font-size:11px; color:gray;">게시판에 등록한 내용을 제외하고 회원정보 및 예약내역, 즐겨찾기 등 개인형 서비스 이용기록은 모두 삭제되며, <br/>삭제된 데이터는 복구되지 않습니다.</p>
			<p style="font-size:11px; color:gray;">삭제되는 내용을 확인하시고 필요한 데이터는 미리 백업을 해주세요 </p>
			<br/>
			<p style="font-size:13px; color:black;">탈퇴 후에도 게시판형 서비스에 등록한 게시물은 그대로 남아있습니다.</p>
			<p style="font-size:11px; color:gray;">병원 별 게시판에 작성한 게시글 및 댓글은 탈퇴 시 자동 삭제되지 않고 그대로 남아있습니다.</p>
			<p style="font-size:11px; color:gray;">삭제를 원하는 게시글이 있다면 반드시 탈퇴 전 삭제하시거나 고객센터(000-0000-0000)로 연락주시기 바랍니다.</p>
			<p style="font-size:11px; color:gray;">탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 게시글을 임의로 삭제해드릴 수 없습니다.</p>
		</td></tr>
	
	<tr><td align="center"><br/>
			비밀번호 입력 : <input type="password" id="memberPw" name="memberPw" />
			<input type="submit" value="회원탈퇴"/>
			<div style="font-size:11px; color:red" id="errPw">[[${errPw }]]</div>
	</tr>
</table>
</form>

</body>
</html>