<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
header:p {
	text-align: right;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
</style>
</head>
<body>
<header>
	<h3><a href="/">메디북 로고</a></h3>
	<p><a href="/login/loginAgree">회원가입</a> | <a href="/login/login">로그인</a></p>
</header>
<section>
	<form action="loginCheck" method="post">
	<table border=1 align="center">
		<caption>LOGIN</caption>
		<tr>
			<td><img src="/static/images/members.png" width="100" alt="membersImg" id="membersImg"/>
			<td><img src="/static/images/hospital.png" width="100" alt="hospitalImg" id="hospitalImg"/></td>
		</tr>
		<tr>
			<td><input type="radio" name="who"/>일반회원</td>
			<td><input type="radio" name="who" />병원회원</td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" name="saveId" />아이디 저장
							<input type="checkbox" name="autoLogin" />자동 로그인</td>
		</tr>
		<tr>
			<td><input type="text" name="userId" placeholder="아이디를 입력해주세요." /></td>
		</tr>
		<tr>	
			<td><input type="text" name="userPw" placeholder="비밀번호를 입력해주세요." /></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="login" value="LOGIN"/></td>
		</tr>
		<tr>
			<td colspan="2"><a href="/login/loginAgree">회원가입</a>
							<a href="/help/searchLogin">아이디/비밀번호 찾기</a></td>
		</tr>
	</table>
	</form>
</section>
</body>
</html>