<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">

$(function(){
	var user = "";
	$("#membersBtn").click(function(){
		user = "member";
	});
	$("#hospitalBtn").click(function(){
		user = "hospital";
	});
	$("#frm").ajaxForm({
		beforeSubmit : function(){
			var agreeCheckbox = document.getElementById("agreeCheckbox");

		    // 만약 checkbox가 선택되었는지 확인
		    if (!agreeCheckbox.checked) {
		        alert("약관에 동의해주세요.");
		        return false;
		    }
		},
		success:function(){
			if(user == "member")
				location.href="/login/userForm";
			else(user == "hospital")
				location.href="/medicalUser/userWrite";
		 },
		 error: function(){
			 alert("서버오류");
		 }
	});
});

function history_back() {
	  window.history.back();
}

function checkAgreement() {
    var agreeCheckbox = document.getElementById("agreeCheckbox");

    // 만약 checkbox가 선택되었는지 확인
    if (!agreeCheckbox.checked) {
        alert("약관에 동의해주세요.");
        return false;
    }
}

</script>

<!-- css -->
<style>
header:p {
	text-align: right;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.signupBoxTool__signupBox__terms__summary {
  height: 150px;
  overflow: auto;
  padding: 7px;
  margin-bottom: 0;
}
#membersBtn:focus {
	background-color: lightgreen;
}
#hospitalBtn:focus {
	background-color: skyblue;
}
div {
	border: 1px solid;
}
.center {
    text-align: center;
}
</style>

</head>
<body>

<!-- form -->
<form action="/medicalUser/userWrite" method="post" name="frm">
<header>
	<h3><a href="/">메디북 로고</a></h3>
	<p><a href="/login/loginAgree">회원가입</a> | <a href="/login/login">로그인</a></p>
</header>
<section>
<h1>회원가입</h1>
가입하고자 하시는 고객님의 회원 유형을 선택하세요.<br>
<strong>회원종류에 따라 가입 절차에 차이</strong>가 있으니, 본인이 해당하는 경우를 선택해 가입해시기 바랍니다.
<hr>

<label style="vertical-align: middle;">
	<img src="/static/images/members.png" width="70" alt="회원이미지">
	<input type="radio" id="membersBtn"/>일반회원
</label>

<label style="vertical-align: middle;">
	<img src="/static/images/hospital.png" width="70" alt="병원이미지">
	<input type="radio" id="hospitalBtn"/>병원회원
</label>

<br/>
<br/>
<h3><img src="/static/images/checkbox.png" width="20"> 홈페이지 이용약관</h3>
<hr>
<div class="signupBoxTool__signupBox__terms__summary">
	<pre>이용약관

제1장 총칙

제1조 목적
이 약관은 주식회사 메디솔루션(이하 "회사" 라 한다)에서 운영하는 메디북 서비스(홈페이지/모바일웹,앱)에서 제공하는 
인터넷 관련 서비스(이하 "서비스"라 한다) 이용에 관련하여 회사와 이용자(이하 "회원" 이라함)간의 권리,의무 및 책임사항을 
규정함을 목적으로 합니다.

제2조 용어정의
이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
1.메디북:회사가 이용자 에게 서비스를 제공하기위해 운영하는 사이트(http://www.mediloving.co.kr)를 말합니다.
2.회원 :회사 에서 운영하는 메디북 서비스(홈페이지/모바일 웹, 앱)에 로그인하여 본 약관에 따라 회사가 제공 하는 
서비스를 받는 자를 말합니다.
3.회원아이디(이하"아이디"):회원의 식별과 회원의 서비스 이용을 위하여 회원이 선정하고회사가 승인하는 영문자와 숫자의 
조합을 말합니다.
4.개인정보:당해 정보에 포함되어 있는 성명, ID,비밀번호,주민번호등의 사항에 의하여 특정 개인을 식별할 수 있는 정보를 말합니다.
5.비밀번호:이용고객이 부여받은 이용자번호와 일치된 이용고객 임을 확인하고 이용고객의 권익보호를 위하여 이용고객이 선정한 
문자와 숫자의 조합을 말합니다.
6.해지 : 회원이 서비스 개통 후 이용계약을 해약하는 것을 말합니다.

제3조 (약관의 게시 및 변경)
1.회사는 본 약관의 내용과 상호, 회사 소재지, 전자우편 주소 등을 이용자가 알 수 있도록 온라인채널(홈페이지/모바일 웹, 앱)에 
게시합니다.
2.회사는 불가피한 사정이 있는 경우 관계법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
3.회사는 약관을 개정할 경우에는 전항과 같은 방법으로 공지 또는 통보함으로써 효력을 발생합니다.
4.이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 관계법령 또는 상관례에 따릅니다.

제4조 (서비스의 내용 및 변경)
1.회사는 다음의 서비스를 제공합니다.
-병원의 의료진 및 진료일정 안내
-병원 또는 연결사이트를 통해 제공되는 각종 예약 서비스
-기타 병원이 정하는 서비스
2.회사는 불가피한 사정이 있는 경우 제공하는 서비스의 내용을 변경할 수 있으며, 이 경우 변경된 서비스의 내용 및 제공일자를 
명시하여 그 제공일자 이전에 공지합니다.
3.회사는 서비스 내용의 변경으로 인하여 이용자가 입은 손해에 대하여 배상하지 아니합니다. 단, 회사의 고의 또는 중과실이 있는 
경우에는 그러하지 아니합니다.

제5조 (서비스의 중단)
1.회사는 시스템 등 장치의 보수점검·교체 및 고장, 통신의 두절, 기타 불가항력적 사유가 발생한 경우에는 서비스의 제공을 
일시적으로 중단할 수 있습니다.
2.회사는 제1항의 사유로 서비스 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여는 배상하지 
아니합니다. 단, 회사의 고의 또는 중과실이 있는 경우에는 그러하지 아니합니다.
3.회사는 경영, 정책, 운영이나 기술상의 이유로 무료로 제공되는 서비스의 전부 또는 일부를 변경 또는 유료화나 중단할 수 있으며
이에대하여 관련 법에 특별한 규정이 없는 한 회원에게 별도의 보상을 하지 않습니다.
4.회사는 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기 점검시간은 서비스제공화면에 공지한 바에 따릅니다.

제2장 회원의 가입 및 탈퇴

제6조 (회원가입)
1.이용자는 회사의 정한 양식에 따라 회원정보를 기입한 후 본 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.
2.병원은 전항과 같이 회원으로 가입할 것을 신청한 이용자 중 이하 각호에 해당하지 않는 한 회원으로 등록합니다.
-가입신청자가 본 약관 제7조 제2항에 의거하여 이전에 회원 자격을 상실한 적이 있는 경우
-등록내용에 허위, 기재누락, 오기가 있는 경우
-기타 회원으로 등록하는 것이 회사의 기술상 또는 업무 수행상 현저히 지장이 있다고 판단하는 경우
3.회원가입계약의 성립시기는 회사가 승낙한 시점으로 합니다.
4.회원은 등록사항에 변경이 있는 경우, 즉시 전자우편 또는 기타 방법으로 회사에 그 변경사항을 알려야 합니다.

제7조 (회원 탈퇴 및 자격의 상실등)
1.회원은 회사에 언제든지 탈퇴를 요청할 수 있으며 회사는 즉시 회원탈퇴를 처리합니다. 단, 탈퇴의 요청은 회사의 온라인채널
(홈페이지/모바일 웹, 앱)로 하여야 합니다.
2.회원이 다음 각호의 사유에 해당하는 경우, 회사는 회원자격을 상실시킬 수 있습니다.
-등록 신청 시에 허위 내용을 등록한 경우
-다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 질서를 위협하는 경우
-회사에서 제공되는 정보를 변경하는 등 회사의 온라인채널(홈페이지/모바일 웹, 앱) 운영을 방해한 경우
-회사를 이용하여 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
-본 약관을 위반한 경우
-기타 회원으로서의 자격을 지속시키는 것이 부적절하다고 판단되는 경우
-인터넷 사이트,앱을 통하여 진료예약을 한 후 예약시간을 10분 초과한 시간까지 병원에 도착하지 않을경우 불이행1회가 발생하고
불이행 3회 발생시 3회 발생일로부터 90일간 예약서비스가 중지됩니다.

제8조 (회원에 대한 통지)
1.회사는 회원에 대한 통지를 하는 경우, 회원이 병원에 제공한 전자우편 주소 또는 전화번호로 할 수 있습니다.
2.회사는 불특정다수 회원에 대한 통지의 경우 게시판에 게시함으로써 개별통지에 갈음할 수 있습니다.

제9조 (진료예약의 신청 및 성립)
1.이용자는 회사에서 운영하는 온라인채널(홈페이지/모바일 웹, 앱)상에서 이하의 방법에 의하여 진료예약을 신청합니다.
-주민등록번호, 비밀번호, 성명, 주소, 전화번호(본인인증) 입력
-의료진,진료과,예약일시 선택
-이 약관에 동의한다는 표시

제3장 개인정보의 보호

제10조 (개인정보의 수집)
1.회사는 이용자의 정보수집 시 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수 사항으로 하며 그 외 사항은 선택사항으로 
합니다.
-[만 14세 이상 회원 가입]필수항목 :성명,전화번호,주민번호,이메일,아이디,비밀번호
-[만 14세 미만 회원 가입]필수항목 : 가족회원 등록으로 이름,주민번호
2.이용자의 개인정보를 수집하는 때에는 이하 각호의 경우를 제외하고는 당해 이용자의 동의를 받습니다.
-법률에 특별한 규정이 있는 경우
-서비스이용계약의 이행을 위해서 필요한 경우
-서비스의 제공에 따른 요금정산을 위하여 필요한 경우
3.회사는 개인정보의 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 개인정보의 분실, 도난, 유출, 변조되지 아니하도록 
안정성 확보에 필요한 기술적 조치 등을 강구합니다.
4.회사는 개인정보의 수집목적을 달성한 때에는 당해 개인정보를 지체없이 파기합니다.

제11조(개인정보보호 책임자)
책임자: 기획실장
전화번호 : 1899-3342
이메일 : medilove1004@gmail.com

제12조(개인정보의 수집목적 및 이용목적)
1.이용자에게 원활한 의료정보 제공을 위한 온라인 및 오프라인에서의 공지기능
2.사용자 인증 절차 및 병원 내 진료와 관련된 진료정보서비스 제공
3.회사의 온라인채널(홈페이지/모바일 웹, 앱) 원활한 운영 및 통계분석자료로 활용

제13조(개인정보의 보유기간 및 이용기간)
회사는 회원 자격을 가지고 있는 기간을 개인정보의 보유기간 및 이용기간으로 정합니다.

제14조(개인정보의 이용 및 제공의 제한)
1.제공된 개인정보는 당해 이용자의 동의없이목적외 이용이나 제3자에게 제공할 수 없으며, 이에 따른 이용자의 피해에 대한 모든 
책임은 회사가 집니다. 단, 다음의 경우에는 예외로 합니다.
-법률에 특별한 규정이 있는 경우
-서비스의 제공에 따른 요금정산 및 배송 등을 위하여 필요한 경우
-통계작성·학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
2.정보통신서비스제공자로부터 이용자의 개인정보를 제공받은 자는 당해 이용자의 동의가 있거나 다른 법률에 특별한 규정이 있는
 경우를 제외하고는 개인정보를 제공받은 목적 외의 용도로 이를 이용하거나 제3자에게 제공하여서는 안됩니다.

제15조(이용자의 권리)
1.이용자는 언제든지 제10조 제2항, 제15조 제1항 또는 동조 제2항의 규정에 의한 동의를 철회할 수 있습니다. 
단, 철회의 의사표시는 회사 또는 회사로부터 정보를 제공받은 자에게 전자우편이 도달된 때로부터 유효합니다.
2.이용자는 회사에게 자신의 개인정보에 대한 열람을 요구할 수 있으며, 자신의 개인정보에 오류가 있는 경우에는 그 정정을 
요구할 수 있습니다.
3.제1항 및 제2항에 의한 철회, 열람, 정정의 요구는 회사의 고객센터에 통화하는 방식으로 하여야 하며, 회사는 요구를 받은 후
 지체없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 회사가 그 오류를 정정할 때까지 당해 
개인정보를 이용하지 않습니다.

제4장 서비스에 관한 책임의 제한

제16조
1.회사는 건강관련정보제공서비스에서 언급된 어떠한 특정한 검사나 제품 또는 치료법을 보증하지 않습니다.
2. 회사가 제공하는 건강관련정보는 전적으로 이용자의 판단에 따라 이용되는 것으로서, 회사는 건강관련정보의 제공과 관련하여 
어떠한 책임도 지지 않습니다.

제5장 회사 및 이용자의 의무

제17조  (회사의 의무)
1.회사는 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고, 안정적으로
 서비스를 제공하는 데 최선을 다합니다.
2.회사는 이용자의 신용정보를 포함한 개인신상정보의 보안에 대하여 기술적 안전 조치를 강구하고 관리에 만전을 기함으로써 
이용자의 정보보안에 최선을 다합니다.
3.회사는 공정하고 건전한 운영과 지속적인 연구·개발을 통하여 양질의 서비스를 제공함으로써 고객만족을 극대화 하여 
인터넷 비즈니스 발전에 기여하도록 합니다.
4.회사는 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.

제18조 (이용자의 주민등록번호 및 비밀번호에 대한 의무)
1.이용자는 회사의인터넷 진료를 이용하는 경우 주민등록번호(실명인증) 및 비밀번호를 사용해야 합니다.
2.주민등록번호(실명인증)와 비밀번호에 관한 모든 관리의 책임은 이용자에게 있습니다.
3.이용자는 자신의 주민등록번호 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
4.이용자의 주민등록번호 및 비밀번호의 관리의 부실로 인한 모든 책임은 이용자가 부담합니다.
5.이용자는 주민등록번호 및 비밀번호를 도난당하거나 제3자에게 사용되고 있음을 인지한 경우에는 바로 회사에 통보하고 
회사의 안내가 있는 경우에는 그에 따라야 합니다.

제19조 (이용자의 의무)
1.이용자는 다음의 행위를 하여서는 안됩니다.
-신청 또는 변경 시 허위내용의 등록
-회사에 게시된 정보의 변경
-회사가 정한 정보 이외의 정보(컴퓨터프로그램 등)의 송신 또는 게시
-회사 기타 제3자의 저작권 등 지적재산권에 대한 침해
-회사 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
-외설 또는 폭력적인 메시지·화상·음성 기타 공서양속에 반하는 정보를 병원에 공개 또는 게시하는 행위
-다른 이용자에 대한 건강진료 및 상담을 하거나 알선하는 행위
-제3자의 진료행위를 선전하는 행위
-상품을 판매하거나 판매를 알선하는 행위
-기타 부적절하다고 판단하는 행위
2.전항 각호의 정보 또는 기타 병원이 사이트 운영상 부적절하다고 판단한 정보가 회사의 온라인채널(홈페이지/모바일 웹, 앱)에 
게시되거나 사이트와 링크된 곳에 게시된 경우, 회사는 이용자 또는 기타 정보의 게시를 행한 자의 승낙없이 
회사의 온라인채널(홈페이지/모바일 웹, 앱)에 게재된 당해 정보를 삭제하거나 링크를 단절할 수 있습니다. 단, 회사는 
이러한 정보의 삭제·링크의 절단 등을 할 의무를 지지 않습니다.

제6장 기타
제20조(저작권의 귀속 및 이용제한)
1.회사는 작성한 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속합니다.
2.이용자는 회사의 온라인채널(홈페이지/모바일 웹, 앱)을 이용함으로써 얻은 정보를 회사의 사전 승낙없이 
복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3 자에게 이용하게 하여서는 안됩니다.

제21조(책임제한)
1.회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 
책임이 면제 됩니다.
2.회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대해서는 책임을 지지 않습니다.
3.회사가 제공하는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.

제22조 (분쟁해결)
1.본 이용약관에 규정된 것을 제외하고 발생하는 서비스 이용에 관한 제반 문제에 관한 분쟁은 최대한 쌍방합의에 의해 
해결하도록 합니다.
2.이용자가 회사의 온라인채널(홈페이지/모바일 웹, 앱) 이용과 관련하여 불만이 있거나 의견을 제시하고자 하는 경우에는 
고객센터로 불만사항 또는 의견을 연락주시면 됩니다.
3.회사는 이용자로부터 제출되는 불만사항 및 의견이 정당하다고 판단하는 경우 우선적으로 그 사항을 처리합니다. 
다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.

제23조 (재판권 및 준거법)
1.회사와 이용자간에 서비스 이용으로 발생한 분쟁에 관한 소송은 민사소송법상의 관할법원으로 합니다.
2.회사와 이용자간에 제기된 전자거래 소송에는 한국법을 적용합니다.

본 약관은 2024년 4월22일 부터 적용합니다.</pre>
	
</div>

<br/>
<h3><img src="/static/images/checkbox.png" width="20"> 개인정보 수집/이용 안내</h3>
	<div class="signupBoxTool__signupBox__terms__summary">
		<pre>
			(주)메디솔루션(이하"회사"라함)은 고객의 개인정보보호를 매우 소중하게 생각하고, 고객의 개인정보를 보호하기 위해 
항상 최선을 다하고 있습니다.

-회사는 개인정보보호법을 비롯한  "정보통신망 이용촉진 및 정보보호"을 준수 합니다.
-회사의 개인정보처리방침은 관련 법률 및 지침의 변경 또는 내부 운영 방침의 변경에 따라 변경될 수 있고
개인정보처리방침이 변경될 경우 변경된 사항을  회사의 온라인채널(홈페이지/모바일웹,앱)을 통하여 공지할것 입니다.
-회사는 개인정보 처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 
개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.   

1.개인정보의 수집 및 이용목적
회사가 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용의 목적이 변경되는 경우에는 
개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 것입니다.

-회사가 제공하는 진료예약서비스를 이용하기위해
-진료예약시 건강보험 가입여부,건강검진 대상여부등 일정사항 확인을 위해 
-진료예약서비스 이용시 병원에서  접수에 활용
-서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 
청구지등 발송
-회원 관리: 회원제 서비스 이용에 따른 본인확인, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인
- 마케팅 및 광고에 활용: 이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
-다양한 서비스 및 신규서비스 제공
-알림서비스

2.수집방법및 수집항목
회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.

-수집항목
회원가입시: 이름, 생년월일,내외국인정보,로그인ID, 비밀번호,이메일주소, 휴대전화번호 접속 로그, 쿠키, 접속IP 정보 
예약신청시: 이름, 생년월일, 주민번호, 휴대폰번호, 문진정보(선택)
-개인정보 수집방법:웹사이트( http://www.mediloving.co.kr )

3.개인정보수집에 대한 동의
회사는 회원이 개인정보취급방침 또는 이용약관의 내용에 대해 동의 할수 있도록 박스에 체크한후 다음 버튼을 누르면 
회원이 회사의 개인정보 수집에 동의한 것 으로 간주합니다.

4.개인정보의 보유 및 이용기간
원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 
보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 

-보존 항목 : 이름, 성별, 생년월일, 주민번호, 로그인ID, 비밀번호, 휴대전화번호, 이메일
-보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률
-보존 기간 : 회원탈퇴시 예약내용과 회원정보가 삭제 되며 완전한 정보삭제는 탈퇴일로 부터 30일후 가능합니다.
계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)

5.개인정보의 파기 절차 및 방법 
회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.

-파기절차: 회원님이 회원가입 등을 위해 입력하신 정보는 DB에 저장되며, 저장된 개인정보는 법률에 의한 경우가 아니고서는 
보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
-파기방법: 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다

6.개인정보의 제3자에 대한 제공
회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다. 

- 이용자들이 사전에 동의한 경우
- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
-통계작성 및 학술연구 등의 목적을 위해 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우
*제공받는자: 병원회원
*제공목적: 병원예약서비스 제공 및 확인
*개인정보항목: 이름,주민번호,성별,내외국인정보,휴대폰번호,이메일주소,문진표정보


7.개인정보 처리의 위탁
수집한 개인정보는 오직 병원예약을 위해서만 사용되고 있습니다.
입력하신 개인정보는 병원예약시 예약하신 병원에 전송되는 용도로만 이용되고 있습니다.
회사는 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 
위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.
*수탁업체: NAVER CLOUD PLATFORM
*위탁업무내용: 본인인증
*위탁항목: 휴대폰번호
*개인정보보유 및 이용기간: 서비스 회원 탈퇴 및 이용계약 종료 시(단, 관련 법령에 따라 별도 보관되는 정보는 예외)

8.이용자 및 법정대리인의 권리와 그 행사방법 
이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 
가입해지를 요청할 수도 있습니다. 
이용자 혹은 만 14세 미만 아동의 개인정보 조회·수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 
가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭 하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 
혹은 개인정보관리책임자에게 고객센터로 연락하시면 지체없이 조치하겠습니다. 
귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 
또한 잘못된 개인정보를 제3자 에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다. 
회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “OOO가 수집하는 개인정보의 보유 및 이용기간”에 
명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다. 

9.개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항 
회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 
쿠키란 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 
저장됩니다. 

-쿠키 등 사용 목적
회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 
방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공 
-쿠키의 설치,운영 및 거부
사용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 
쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 
▶ 쿠키 설정 거부 방법 
쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 
쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.

설정방법 예(인터넷 익스플로어의 경우) : 
웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 

단, 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.

10.개인정보의 안전성 확보 조치
회사는 회원들의 개인정보의 안전성 확보를 이하여 기술적 관리적 조치를 하고 있습니다.

-개인정보 취급 직원의 최소화 및 교육
개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화하여 개인정보를 관리하는 대책을 시행하고 있습니다.
-회원의 주민번호는 암호화 되어 저장및 관리 보호되고 있습니다.

11.개인정보에 관한 민원서비스
회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 
지정하고 있습니다.
고객서비스담당 부서 : 고객서비스팀
개인정보관리책임자: 기획실장
전화번호 : 1899-3342
이메일 : medilove1004@gmail.com

회원은 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 
회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.

기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
1.개인분쟁조정위원회 (www.1336.or.kr/1336)
2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)
3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)
4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)

12.정책 변경시 공지의무
위 개인정보처리방침은 2020년 09월14일 에 제정 되었으며 법령,정책,기술변경에 따라 내용의 추가,삭제 및 수정이 있을시에는
변경되는 개인정보처리방침을 시행하기 전에 웹사이트( http://www.mediloving.co.kr ), 병원앱 온라인채널(홈페이지/모바일웹,앱)을 통해
변경이유및 내용 등을 공지 하겠습니다.


본 약관은 2020년 9월16일 부터 적용합니다.
		</pre>
	</div>
	<label>
		<input type="checkbox" id="agreeCheckbox" name="agreeCheckbox"/>위의 '이용약관, 개인정보 수집·이용'에 동의 합니다.<br>
	</label>
	
	<br/>
	<input type="button" value="가입취소" onclick="history_back()"/>
	<input type="submit" onclick="checkAgreement()" value="다음단계로" /> 
	</form>
</section>

</body>
</html>