<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메디북 : 예약하기</title>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee54e408fd253fbd47664b71010d6e40&libraries=services,clusterer,drawing"></script>
</head>

<!-- css -->
<style>
/* 달력 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




/* 이외 */
header:p {
   text-align: right;
}
header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

#parent{
    width: 90%;
    margin: 10px auto;
}

#hospitalInfo {
    /* border: 1px solid red; */
    float: left;
    width:40%;
    box-sizing: border-box;
}

#reservationInfo{
    border: 1px solid green; 
    float: left;
    margin-left: 5%;
    width:55%;
    box-sizing: border-box;
}

.LSize{
	font-weight: bold;
	font-size:18px;
	color:black;
}

.mSize{
	font-size:13px;
	color:#3c3c3c;
}

.sSize{
	font-size:10px;
	color:black;
}

</style>

<body>
<header>
	<a href="/"><img src="/static/images/logo.png" width="200" height="70" alt="로고이미지" ></a>
	<th:block th:if="${session.auth != null}" >
		<th:block th:if="${session.auth.grade == 'mem'}">
	   		<p><a href="/myPage/myPageDefalt">My Page</a> | <a href="login/logout">로그아웃</p>
		</th:block>
		<th:block th:if="${session.auth.grade == 'hospital'}">
	   		<p><a href="/medicalUser/hospitalMyPage">내 병원 관리</a> | <a href="login/logout">로그아웃</a></p>
		</th:block>
	</ul>
	</th:block>
	<th:block th:if="${session.auth == null}">
   		<p style="margin: 0 50px 0 0;"><a href="/login/loginAgree">회원가입</a> | <a href="/login/login">로그인</p></a>
	</th:block>

</header>

	<th:block th:if="${session.auth != null}" >
		<th:block th:if="${session.auth.grade == 'mem'}">
			<ul>
				<li><a href="myPage/myPageDefalt">마이페이지</a></li>
			</ul>
	
	        <!-- 관리자만 사용 가능 관리자 ID : medibook / PW:medibook00@ -->
			<th:block th:if="${session.auth.userId == 'medibook'}">
				<ul>
			  		 <li><a href="member/memberList">관리자 : 회원관리</a></li>
			  		 <li><a href="">관리자 : 병원관리</a></li>
				</ul>
			</th:block>
		</th:block>
	</th:block>

<div id="parent">
<div id="hospitalInfo">
<p class="mSize">[[${hospitalCommand.hospitalCategory }]]</p>
<p class="LSize">[[${hospitalCommand.hospitalName }]]</p>

<br/><hr>
<p class="mSize">진료 시간</p>
<p class="sSize">진료 시간</p>

<br/><hr>
<p class="mSize">병원 소개</p>
<p class="sSize">[[${hospitalCommand.hospitalContent }]]</p>
<p class="sSize">연락처 : [[${hospitalCommand.hospitalPhone }]]</p>
<p class="sSize">이메일 : [[${hospitalCommand.hospitalEmail }]]</p>

<br/><hr>
<p class="mSize">위치 정보</p>
<p class="sSize">[[${hospitalCommand.hospitalAddr }]] [[${hospitalCommand.hospitalAddrDetail }]]</p>
<input type="hidden" id="hospitalAddr" th:value="${hospitalCommand.hospitalAddr}"/>
<!-- 지도 -->
<div id="map" style="width:100%;height:350px;"></div>
<script>
	var hospitalAddr = document.getElementById('hospitalAddr').value;
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = { 
	        center: new kakao.maps.LatLng(37.54699, 127.09598), // 지도의 중심좌표
	        level: 4 // 지도의 확대 레벨
	    };
	
	// 지도를 생성합니다
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();
	
	// 마커 이미지 설정
	var imageSrc = '/static/images/hospitalMarker.png', // 마커이미지의 주소입니다    
	    imageSize = new kakao.maps.Size(64, 64), // 마커이미지의 크기입니다
	    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
	      
	// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
	var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
	    markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다
	
	 // 주소로 좌표를 검색합니다
	 geocoder.addressSearch(hospitalAddr, function(result, status) {

	     // 정상적으로 검색이 완료됐으면 
	      if (status === kakao.maps.services.Status.OK) {

	         var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

	         // 결과값으로 받은 위치를 마커로 표시합니다
	         var marker = new kakao.maps.Marker({
	             map: map,
	             position: coords,
	             image: markerImage // 마커이미지 설정 
	         });

	         // 인포윈도우로 장소에 대한 설명을 표시합니다
	         var infowindow = new kakao.maps.InfoWindow({
	             content: '<div style="width:150px;text-align:center;padding:6px 0;">병원위치</div>'
	         });
	         infowindow.open(map, marker);

	         // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	         map.setCenter(coords);
	     } 
	 });
	//아래 코드는 지도 위의 마커를 제거하는 코드입니다
	//marker.setMap(null);  */ 
</script>

<br/><hr>
<p class="mSize">병원 공지사항</p>
<p class="sSize">[[${hospitalCommand.hospitalNotice }]]</p>

</div>

<div id="reservationInfo">
<form action="" method="">
<table width="600" align="center" border="1">
	<tr>
		<td>진료실 / 의사 : 
			<select id="doctorSelection" name="doctorSelection">
					<option value="제 1 진료실 / 정은선 원장">제 1 진료실 / 정은선 원장</option>
					<option value="제 2 진료실 / 김민희 원장">제 2 진료실 / 김민희 원장</option>
			</select>
		</td>
	</tr>
</table>

<br/>
<table width="600" align="center" border="1">

	<!-- 달력 -->
	<!-- <div class="wrapper">
    <header>
        <div class="nav">
          <button class="material-icons"> chevron_left </button>
          <p class="current-date">September 2022</p>
          <button class="material-icons"> chevron_right </span>
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days">
          <li class="inactive">27</li>
          <li class="inactive">28</li>
          <li class="inactive">29</li>
          <li class="inactive">30</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>
      </div>
    </div> -->
		<tr>
			<td>죽겠어요</td>
		</tr>
	
</table>
</form>
</div>
</div>

</body>
</html>

























