@charset "UTF-8";

header:p {
   text-align: right;
}
header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

#parent{
    width: 90%;
    margin: 10px auto;
}

#search_list {
    border: 1px solid red;
    float: left;
    width:55%;
    box-sizing: border-box;
}

#map{
    border: 1px solid green; 
    float: left;
    margin-left: 5%;
    width:40%;
    box-sizing: border-box;
}
