<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main.html</title>
<style>
header:p {
   text-align: right;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

</style>
</head>
<body>
<header>
	<a href="/"><img src="/static/images/logo.png" width="200" height="70" alt="로고이미지" ></a>
	<th:block th:if="${session.auth == null}">
   		<p><a href="/login/loginAgree">회원가입</a> | <a href="/login/login">로그인</p></a>
	</th:block>
	<th:block th:if="${session.auth != null}">
   		<p><a href="/myPage/myPageDefalt">My Page</a> | <a href="login/logout">로그아웃</p></a>
   	</th:block>
</header>

<!-- 관리자 -->
<ul>
   <li><a href="member/memberList">회원 리스트</a></li>
</ul>

<!-- 사용자 -->
<ul>
   <li><a href="myPage/myPageDefalt">마이페이지</a></li>
</ul>

<nav>
   <input type="search" name="obj_search" />
   <input type="submit" value="검색하기" />
</nav>
<section>
   <p>※병원 찾기</p>
   <table border="1" style="text-align: center;">

      <tr>
         <td>전체</td><td>내과</td><td>소아청소년과</td><td>정형외과</td>
      </tr>
      <tr>
         <td>치과</td><td>비뇨의학과</td><td>신경과</td><td>산부인과</td>
      </tr>
   </table>
</section>
</body>
</html>