<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
header:p {
	text-align: right;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#hospitalBtn {
	background-color: skyblue;
}
</style>
</head>
<body>
<header>
	<a href="/"><img src="/static/images/logo.png" width="200" height="70" alt="로고이미지" ></a>
	<p><a href="/login/loginAgree">회원가입</a> | <a href="/login/login">로그인</a></p>
</header>
<section>
	<h1>내 병원 정보</h1>
	<hr>
	
</section>
</body>
</html>