<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>관리자 > 회원정보 수정</title>
<script type="text/javascript">
function btnUpdate(memberNum){
	location.href='memberUpdate?memberNum=' + memberNum;
}
function btnDelete(memberNum){
	location.href='memberDelete/' + memberNum;
}
</script>
</head>
<body>

<h3 align="center">관리자 > 회원정보 수정</h3><br/>

<ul>
	<li><a href="memberList">회원정보 관리</a></li>
	<li><a href="memberRegist" >회원 등록</a></li>
</ul>

	<table border = "1" width ="600" align="center">
		<caption align="left">[ [[${memberCommand.memberNum }]] 회원정보 ]</caption>
		
		<tr><th width="150">회원번호</th>
			<td>[[${memberCommand.memberNum }]]</td></tr>
		
		<tr><th>성명</th>
			<td>[[${memberCommand.memberName }]]</td></tr>
			
		<tr><th>주민번호</th>
			<td>[[${memberCommand.memberJumin }]]</td></tr>
		
		<tr><th>생년월일</th>
			<td>[[${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd') }]]</td></tr>
		
		<tr><th>성별</th>
			<td><span th:if="${memberCommand.memberGender == 'M'}">남자</span>
	  			<span th:if="${memberCommand.memberGender == 'F'}">여자</span></td></tr>
		
		<tr><th>아이디</th>
			<td>[[${memberCommand.memberId }]]</td></tr>
				
		<tr><th>이메일</th>
			<td>[[${memberCommand.memberEmail }]]</td></tr>
		
		<tr><th>휴대전화</th>
			<td>[[${memberCommand.memberPhone }]]</td></tr>
		
		<tr><th>주소</th>
			<td>[[${memberCommand.memberPost }]]<br/>
				[[${memberCommand.memberAddr }]]<br/>
				[[${memberCommand.memberAddrDetail }]]</td></tr>
		
		<tr><th colspan="2" align="right">
			<button type="button" th:attr="onclick=|btnUpdate('${memberCommand.memberNum }')|">정보수정</button></th></tr>
	</table>
	
	<br/>
	<table width="600" border="1" align="center">
		<tr><th align="center"><button type="button" th:attr="onclick=|btnDelete('${memberCommand.memberNum }')|">회원탈퇴</button></th></tr>
	</table>
</body>
</html>

